/*公共*/
body{font-family:'Microsoft YaHei','微软雅黑', Helvetica,Arial,sans-serif,STHeiTi;background:#000;}
a,a:hover{color:#333;}
input,select{background: #111115;border:1px solid #8f8f8f;height: 34px;line-height: 34px;text-indent: 12px;color:#fff;}
textarea{background: #111115;border:1px solid #8f8f8f;color:#fff;}
button{border:none;outline: none;}
::selection{color:#fff;background:#F8A329;}
::-moz-selection{color:#fff;background:#F8A329;}
::-webkit-selection{color:#fff;background:#F8A329;}
.clearfix:before, .clearfix:after { content: " "; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }
.r{float:right;}.ab{position:absolute;}.re{position:relative;}
.mt56{margin-top:56px;}.mt10{margin-top:10px;}.mt2{margin-top:2px;}.mt6{margin-top:6px;}.mt32{margin-top:32px;}
p{margin:0;}

/* function */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-mb10{margin-bottom: 10px!important;}
.f-mb30{margin-bottom: 30px!important;}
.f-mb50{margin-bottom: 50px!important;}
.f-mb70{margin-bottom: 70px!important;}
.f-ml15{margin-left: 15px;}

/*登入*/
.s-col00{background-color:#000000; width:100%; height:100%;}
.m-lg{width:100%; height:1100px; background:url(../img/lg_bg.jpg) no-repeat top center; background-size:cover;}
.g-lg{width:1200px; margin:0 auto; height:1100px; position:relative;}
.m-lg-nav{height:88px; width:1400px; background:url(../img/lg_nav.png) no-repeat top center; background-size:cover; display:inline-block; margin:30px 0 0 -100px;}
.m-lg-nav ul{margin:0 153px 0 0;}
.u-logo{padding:14px 0 0 187px;}
.m-lg-nav ul li{list-style-type:none; float:left; color:#ffffff; font-size:20px; height:82px; line-height:82px; margin:0 72px; cursor:pointer;}
.m-lg-nav ul li.on{color:#f9a32a;}
.u-dzt{margin:62px 0 0 26px;}.u-jb{position:absolute; top:430px; left:524px;}
.m-lg-box{width:422px; height:500px; background:url(../img/lg_input.png) no-repeat top center; float:right; margin-top:60px; color:#ffffff;}
.u-p-lg{text-align:center; font-size:18px; height:56px; line-height:56px;}
.g-ipt-lg{margin-bottom:24px;}
.u-ipt-lg{display:block; background-color:#111216; width:340px; height:48px; margin:0 auto; padding:0; border:1px solid #8f8f8f; font-size:18px; text-indent:18px;}
.u-ipt-lg::-webkit-input-placeholder{color:#929497;}
.g-forget{width:340px; margin:0 auto;}
.g-forget label{margin:0 0 0 26px; font-weight:normal;}
.g-forget input{position:absolute; left:-9999px;}
.u-mind-cb{position:absolute; width:18px; height:18px; border:1px solid #8f8f8f; background-color:#111216; top:0; left:-26px;}
.u-lg-btn{display:block; width:340px; margin:74px auto 0; padding:0; border:0; height:56px; line-height:56px; font-size:18px; background:url(../img/lg_btn.png) no-repeat top center;}
.g-ts{position:relative; padding:0; margin:158px 0 0; color:#ffffff;}
.g-ts li{list-style-type:none; float:left; width:300px; text-align:center;}
.s-ts-tit{font-size:18px; color:#f9a32a; font-weight:600; margin-top:13px;}
.footer{width:1200px; margin:11px auto 70px; text-align:center; color:#a1a1a1; font-size:12px; }

/*创建赛事*/
.g-doc{min-height: 1500px;background: url(../images/bg.png) center top no-repeat #000;}
.g-doc a,.g-doc a:hover{text-decoration: none;}
.g-hd{height: 50px;background: rgba(51,57,63,0.8);}
.g-bd,.g-box{width:1200px;margin:0 auto;}
.m-logo{width:121px;float: left;}
.m-logo a{display: block;height: 50px;background: url(../images/logo.png) 0 0 no-repeat;}
.m-login{float: right;line-height: 50px;color:#fff;font-size: 14px;}
.m-login a,.m-login a:hover{color:#fff;}
.u-select{display: inline-block;padding-right: 15px;margin:0 12px; background: url(../images/arrow.png) right center no-repeat;}
.u-exit{margin-left: 12px;}
.g-bd{margin-top: 150px;color:#fff;font-family: "微软雅黑";overflow: hidden;}
.g-center{background: url(../images/center_bg1.png) center center no-repeat rgba(52,57,63,0.9);min-height: 836px;padding-bottom: 100px;margin-top: -9px;}
.g-tp{background: url(../images/top_bg.png) top center no-repeat;height: 9px;position: relative;}
.g-bt{background: url(../images/bottom_bg.png) top center no-repeat;height: 250px;margin-top: -9px;}
.m-form{padding:0 68px;padding-top: 40px;width: 720px;float:left;}
.m-form a,.m-form a:hover,.m-rules a,.m-rules a:hover{color:#FF5F00;}
.m-form h3{font-size: 18px;color:#F8A329;margin-bottom: 40px;font-weight: bold;}
.m-lst{font-size: 14px;min-height: 36px;line-height: 36px;margin-bottom:18px;/*overflow: hidden;*/}
.m-lst select {line-height: 32px;appearance:none;-moz-appearance:none;-webkit-appearance:none;background: url("../images/arrow.png") no-repeat 190px center #111115;}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
.m-lst select::-ms-expand { display: none; }
.m-lst label{display: block;width: 113px;text-align: right;float: left;margin-right: 15px;}
.m-lst select,.m-lst input[type="text"]{width:210px;}
.m-lst input.eventname{width:400px;}
.m-lst .u-select{color:#FF5F00;background-image: url(../images/orange_arrow.png);}
.m-lst input[type="radio"]{vertical-align: middle;margin-right: 10px;background: #111115;}
.regular-radio {display: none;}
.m-lst .radio_name,.m-lst .check_name{display: inline-block;float: left;font-size: 12px;}
.m-lst .radio_name{width: 100px;}
.m-lst .regular-radio[disabled] + label + .radio_name{color:#8F8F8F;}
.regular-radio + label {width:14px;margin-top: 10px;-webkit-appearance: none;background-color: #111115;border: 1px solid #8f8f8f;box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);padding: 7px;border-radius: 50px;display: inline-block;position: relative;}
.regular-radio:checked + label {background: url(../images/radio.png) center center no-repeat;}
.regular-checkbox {display: none;}
.regular-checkbox + label {width:14px;margin-top: 9px;background-color: #111115;border: 1px solid #8f8f8f;box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);padding: 7px;display: inline-block;position: relative;}
.regular-checkbox:checked + label {background: url(../images/checkbox.png) center center no-repeat;}
#number{float: left;}
.button_group{width:33px;line-height: 0;float: left;margin-left:-36px;margin-top: 1px;border-left: 1px solid #8f8f8f;}
.button_group button{width: 34px;height: 16px;background: #111115;color:#fff;font-size: 14px;}
.button_group .plus{border-bottom: 1px solid #8f8f8f;background: url(../images/plus.png) center center no-repeat;}
.button_group .minus{background: url(../images/minus.png) center center no-repeat;}
.button_group .minus[disabled]{cursor: not-allowed;}
.add-on{display: inline-block;width: auto;height: 34px;min-width: 16px;padding: 0 5px;font-size: 14px;font-weight: normal;line-height: 36px;text-align: center;margin-left: -34px;}
.m-lst .input-append{display: inline-block;float: left;}
.m-lst .form-datetime-zhi{float: left;margin: 0 10px 0 5px;}
.m-lst .input-append.date .add-on i{display: inline-block;width: 16px;height: 16px;line-height: 16px;vertical-align: text-top;background-image: url("../images/datepicker.png");background-repeat: no-repeat;}
.slide{display: inline-block;width: 290px;text-indent: 130px;background: url(../images/down.png) right center no-repeat;}
.m-option,.m-signup{display: none;}
.m-option textarea{padding:5px 12px;line-height: 25px;}
.m-rules{float: left;padding:365px 30px 0;}
.m-rules .attention{color:#F8A329;background: url(../images/attention.png) left center no-repeat;text-indent: 30px;}
.slideup{width:180px;background-image: url(../images/up.png);}
.m-form a.u-btn-next{display: block;width: 200px;height: 36px;line-height: 36px;text-align: center;background: linear-gradient(to bottom, #f9a32a 50%,#e68700 50%,#f8a328 100%);border-radius: 3px;color:#fff;margin-left: 130px;margin-top: 30px;}
.picBox{float: left;}
#pic{width: 200px;height: 36px;}
.webuploader-container {position: relative;}
.webuploader-element-invisible {position: absolute !important;clip: rect(1px 1px 1px 1px);clip: rect(1px,1px,1px,1px);}
.webuploader-pick {position: relative;display: inline-block;cursor: pointer;color: #fff;text-align: center;border-radius: 3px;overflow: hidden;width: 200px;height: 36px;line-height: 36px;padding:0;background: #f9a32a;}
.webuploader-pick-hover {background: #e68700;}
.webuploader-pick-disable {opacity: 0.6;pointer-events:none;}