/**
 * 此样式文件只编写模块样式 网娱大师 赛事工具
 */
 @charset "utf-8";
 /*主体模板公共*/
 .g-w{
 	width:1024px;
 	margin:0 auto;
 }
 .g-z{
 	width:600px;
 	margin:0 auto;
 }
 .mt40{margin-top: 40px;}.h36{height: 36px;}.mr56{margin-right: 56px;}.mb6{margin-bottom: 6px;}
 .colfdb{color: #fdb91a;}
 .backLast{
 	height:40px;
 	line-height: 20px;
 	background: #27282e;
 	color:#b7c1c6;
 	font-size: 18px;
 }
.backLast a{
	float: left;
	display: inline-block;
	margin-right: 10px;
	height: 40px;
	width:20px;
	background: url(../images/back.png) top center no-repeat;
}
/*生成主页按钮*/
.confirmBtn{
	margin-top: 50px;
	height: 48px;
	background: url(../images/star.png) center center no-repeat;
}
.confirmBtn .nextBtn{
	display: block;
	width: 280px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	margin:0 auto;
	background: #fdb91a;
	border-radius: 2px;
	color:#1e1f24;
	font-size: 18px;
}
.confirmBtn .nextBtn i{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 48px;
	margin-right: 12px;
	background: url(../images/checkmark.png) center center no-repeat;
}
/*创建进度*/
.steps{
	position: fixed;
	top:225px;
	right:150px;
}
.steps .line{
	position: absolute;
	left: 15px;
	display: block;
	width: 1px;
	height: 100%;
	padding:10px 0;	
	box-sizing: border-box;
}
.steps .line:after{
	display: block;
	height: 100%;
	width: 1px;
	content: " ";
	background: #865b1e;
}
.steps li{
	position: relative;
	color:#7a8387;
	height: 19px;
	line-height: 19px;
	padding: 0 8px;
	text-indent: 17px;
	border:1px solid #66676a;
	border-radius: 50px;
	margin-bottom: 22px;
}
.steps li:last-child{
	margin-bottom: 0;
}
.steps li i{
	position: absolute;
	display: inline-block;
	top: 3px;
	left:8px;
	width:9px;
	height: 9px;
	border:2px solid #9c7720;
	border-radius: 50%;
	margin-right: 10px;
	background: #1e1f24;
}
.steps li.current{
	color:#d4dde1;
}
.steps li.current i{
	border-color: #fdb91a;
}
>>>>>>> 80c9e127216372dfab517b3e81106e56dcf27b4b
/*创建快捷赛事*/
.m-c-tit{
	font-size: 14px;
	line-height: 14px;
	color: #fdb91a;
	margin:40px 0 20px 0;
}
.m-c-w{
	background: #292f3b;
	padding: 5px;
    box-shadow: 0px 2px 8px -2px #000000;
}
.m-c-info{
	background: #1b1e25;
	padding:25px 45px;
}
.g-c-l{
	color: #7a8387;
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 12px;
}
.u-c-ipt,.u-c-slt{
	background: #14181d;
	font-size: 14px;
	color: #f2f6f9;
	border: 1px solid #353d48;
    text-indent: 12px;
    height:34px;
}
input::-webkit-input-placeholder{
	color: #343b45;
}
.g-c-zbf{
	color: #f2f6f9;
	font-size: 14px;
	height: 36px;
	line-height: 36px;
}
.u-c-per{
	display: inline-block;
	height: 36px;
}
.u-c-headimg{
	float: left;
	box-sizing: border-box;
    margin-right: 10px;
	height: 36px;
	width: 36px;
	padding: 2px;
	background: #353d48;
	border-radius: 18px;
	-webkit-border-radius:18px;
}
.u-c-headimg img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}
.regular-radio,.regular-checkboxs{
	display: none;
}
.regular-radio + label {
	box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin: 0 10px 10px 0;
    -webkit-appearance: none;
    background-color: #12151b;
    border: 1px solid #353d48;
    border-radius: 50px;
    display: inline-block;
    position: relative;
}
.regular-radio:checked + label{
	background: url(../images/radio.png) no-repeat top center;
}
.u-c-slt{
	width: 200px;
	background: url(../images/arrow.png) no-repeat 180px center #14181d;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.g-c-ms{
	height: 36px;
	margin-right: 60px;
}
.button_group {
    width: 33px;
    line-height: 0;
    float: left;
    margin-left: -36px;
    margin-top: 1px;
    border-left: 1px solid #353d48;
}
.button_group button{
	border: 0;
	width: 34px;
	height: 17px;
	color:#fff;
	font-size: 14px;
}
.button_group .plus{
	border-bottom: 1px solid #353d48;
	background: url(../images/plus.png) center center no-repeat #14181d;
}
.button_group .minus{
	background: url(../images/minus.png) center center no-repeat #14181d;
}
.button_group .minus[disabled]{
	cursor: not-allowed;
}
.regular-checkboxs + label {
    width: 14px;
    height: 14px;
    margin-right: 10px;
    background-color: #14181d;
    border: 1px solid #353d48;
    display: inline-block;
    position: relative;
}
.regular-checkboxs:checked + label{
	background: url(../images/checkbox.png) center center no-repeat;
}
label.u-c-ck,span.u-c-ck{
	color: #f2f6f9;
	font-size: 14px;
	vertical-align: 3px;
}
.g-c-timeipt{
	width: 200px; 
	position:relative; 
	display: inline-block;
}
label.add-on{
	position: absolute;
    width: 16px;
    height: 16px;
    background: url(../images/datepicker.png) no-repeat center center;
    right: 10px;
    top: 10px;
}
.g-c-qd{
    margin-top: -6px;
}
.u-c-tslt{
	width: 60px;
	background: url(../images/arrow.png) no-repeat 40px center #14181d;
    vertical-align: 4px;
    margin: 0 2px;
}
.checkboxThree {
    position: absolute;
    width: 68px;
    height: 20px;
    background: #42aa53;
    border-radius: 3px;
    top: -5px;
    left: 150px;
}
.checkboxThree:before {
	content: '开启';
    position: absolute;
    top: 5px;
    left: 6px;
    height: 12px;
    color: #f2f6f9;
    font-size: 12px;
}
.checkboxThree:after {
	content: '关闭';
	position: absolute;
    top: 5px;
    left: 39px;
    height: 12px;
    color: #f2f6f9;
    font-size: 12px;
}
.checkboxThree label {
	display: block;
	width: 34px;
    height: 20px;
    border-radius: 3px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 0;
	z-index: 1;
	left: 0;
	background: #ffffff;
}
.checkboxThree input[type=checkbox]:checked + label {
	left: 34px;
}

 /*头部*/
.g-hd{
	height: 60px;
	background: #27282e;
}
.slidein{
	display: inline-block;
	float: left;
	width:100px;
	height: 60px;
	background: url(../images/slidein.png) center center no-repeat;
}
.header_left,.header_right{
	display: inline-block;
}
.header_left img{
	margin-top: 13px;
}
.notify{
	display: inline-block;
	float: left;
	width: 30px;
	height: 60px;
	background: url(../images/remind.png) center center no-repeat;
}
.avatar{
	float: left;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin: 0 60px 0 27px;
	overflow: hidden;
	cursor: pointer;
}
.avatar img{
	vertical-align: middle;
	border:2px solid #666a74;
	border-radius: 50%;
	width:32px;
	height: 32px;
}
/*固定侧边栏*/
.m-sidebar{
	position: fixed;
	left: 0;
	width: 100px;
	height: 100%;
	background: #36383f;
}
.m-sidebar ul{
	padding-top: 20px;
}
.m-sidebar li{
	text-align: center;
	height: 80px;
	line-height: 80px;
}
/*滑入侧边栏*/
.m-slideInto{
	position: fixed;
	background: #36383f;
	top:0;
	left: -230px;
	width: 230px;
	height: 100%;
}
.slideout{
	display: inline-block;
	float: left;
	width:70px;
	height: 60px;
	background: url(../images/slideout.png) center center no-repeat;
}
.top-logo img{
	margin-top: 13px;
}
.m-slideInto li{
	height: 80px;
	line-height: 80px;
	text-indent: 20px;
}
.m-slideInto li.arrow{
	background: url(../images/slideArrow.png) 200px center no-repeat;
}
.m-slideInto li a{
	display: block;
	color:#b7c1c6;
}
.m-slideInto li.current a{
	color:#fdb91a;
}
.m-slideInto li a img{
	vertical-align: middle;
	margin-right: 20px;
}
/*创建比赛入口*/
.createPop{
	position: fixed;
	width: 488px;
	height: 388px;
	border:6px solid #292f3b;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
	background: #1b1e25;
	padding:20px 50px;
	box-sizing: border-box;
	color:#7a8387;
	display: none;
	z-index: 9999;
}
.createPop h3{
	color:#fdb91a;
}
.createBox{
	width:280px;
	margin:40px auto 0;
	font-size: 12px;
	text-align: center;
}
.createBox .createBtn{
	display: block;
	height: 48px;
	line-height: 48px;
	font-size: 18px;
	border-radius: 2px;
	color:#1e1f24;
	background: #fdb91a;
	text-align:center;
	margin-bottom: 10px;
}
.createPop .closeBtn{
	position: absolute;
	display: block;
	top:-20px;
	right:-20px;
	width:40px;
	height: 40px;
	background: url(../images/closeBtn.png) center top no-repeat;
}
.createBox .leagueEnter{
	color:#fff;
	background: #42aa53;
}
.createBox .or{
	width: 100%;
	height: 50px;
	background: url(../images/or.png) center top no-repeat;
	margin:20px 0;
}

